@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  overflow-x: hidden; }

figure {
  margin: 0;
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img,
picture {
  max-width: 100%;
  display: block; }

.bg-locks, .location-blog__bg {
  background-image: url(https://sylstaticcontent.fra1.digitaloceanspaces.com/keys4u/bg-locks.webp), linear-gradient(45deg, #F5F5F5, #F5F5F5);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px; }

.ul-list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); }

.section-list {
  padding-left: 25px;
  list-style-type: disc; }
  .section-list li {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #444444; }
    .section-list li:hover {
      color: #1296CF;
      cursor: text; }

.half-column {
  max-width: 900px; }

.section-title-3 {
  line-height: 36px;
  font-size: 24px;
  font-weight: 500;
  color: #292826;
  margin: 30px 0px 20px; }

.context-frame, .two-locksmith {
  border: 1px solid #E6E6E6;
  padding: 30px; }
  .context-frame h3, .two-locksmith h3 {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px; }

.frames-stack .context-frame, .frames-stack .two-locksmith {
  background-color: #ffff;
  margin-bottom: 30px; }

.seo-text {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  font-size: 0; }

.btn {
  border: 0;
  background: none;
  text-decoration: none; }

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px; }

.title-nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }

section {
  margin-bottom: 70px; }
  section h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    color: #292826;
    margin-bottom: 20px; }
  section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #444444; }

@font-face {
  font-family: 'Bebas Neue';
  src: url("./../fonts/FontBebasNeueBold.ttf") format("truetype");
  font-weight: bold; }

.btn-with-icon, .btn-red, .btn-orange, .header__block .login, .emergency-section .btn-contact {
  text-align: center;
  padding: 15px;
  min-width: 154px;
  font-weight: 500;
  color: #FFFFFF;
  align-items: center;
  display: inline-flex;
  grid-column-gap: 10px;
  font-size: 16px; }
  .btn-with-icon > i, .btn-red > i, .btn-orange > i, .header__block .login > i, .emergency-section .btn-contact > i {
    font-size: 20px; }

.btn-blue {
  text-align: center;
  padding: 15px 35px;
  min-width: 154px;
  font-weight: 500;
  color: #FFFFFF;
  background: #1752B5; }

.btn-red {
  background: #FC2546; }

.btn-orange {
  background: #FEBD2C; }

.btn-more {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #1296CF; }
  .btn-more:hover {
    text-decoration: underline; }

.two-column, .location-blog, .guarantee__wrap, .area__wrap, .reasons-section .container, .two-locksmith {
  display: flex;
  grid-gap: 20px; }
  .two-column > div, .location-blog > div, .guarantee__wrap > div, .area__wrap > div, .reasons-section .container > div, .two-locksmith > div {
    flex: 1 1 50%; }
  @media only screen and (max-width: 680px) {
    .two-column, .location-blog, .guarantee__wrap, .area__wrap, .reasons-section .container, .two-locksmith {
      flex-direction: column; } }

.header {
  border-bottom: 1px solid #E6E6E6;
  position: relative;
  padding-inline: 15px; }
  .header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    padding: 0; }
    .header .container::after {
      display: block;
      position: absolute;
      margin: 0;
      border-top: 1px solid #E6E6E6;
      height: 1px;
      width: 100%;
      top: 50%;
      left: 100%; }
  .header__logo {
    flex: 1 0 10%;
    padding: 0 15px;
    max-width: 180px;
    align-self: center; }
  .header__bar {
    flex: 1 1 65%;
    display: grid;
    grid-auto-rows: 60% 1fr; }
  .header__menu {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    border: 1px solid #E6E6E6;
    border-top: none;
    border-right: none;
    margin-bottom: 10px; }
    .header__menu > a {
      font-size: 16px;
      line-height: 20px;
      color: #444444; }
  .header__search label {
    display: flex;
    width: 95%;
    align-items: center;
    grid-column-gap: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #FEBD2C;
    padding-right: 15px; }
  .header__search i {
    font-size: 16px;
    color: #FEBD2C; }
  .header__search #search {
    width: 100%;
    border: 0;
    outline: none; }
    .header__search #search::placeholder {
      color: #E6E6E6; }
  .header__block {
    display: grid;
    grid-template-areas: "phone phone phone" "login login basket"; }
    .header__block .phone {
      white-space: nowrap;
      grid-area: phone; }
    .header__block .login {
      grid-area: login;
      background: #E6E6E6;
      color: #444444;
      justify-content: center;
      min-width: auto; }
      @media screen and (max-width: 680px) {
        .header__block .login {
          font-size: 0;
          margin: 0;
          grid-gap: 0; } }
    .header__block .basket {
      grid-area: basket;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #444444;
      background: #1752B5;
      padding: 15px;
      color: #fff;
      display: grid;
      place-content: center; }

#burger-menu {
  display: none;
  place-content: center;
  isolation: isolate;
  place-items: center;
  grid-gap: 3px;
  width: 50px;
  height: 50px;
  background: #E6E6E6;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  @media screen and (max-width: 960px) {
    #burger-menu {
      display: grid; } }
  #burger-menu span {
    display: block;
    height: 2px;
    width: 15px;
    background: #444444;
    border-radius: 9px;
    opacity: 1;
    transition: .25s ease-in-out; }
  #burger-menu span:nth-child(1) {
    top: 20px; }
  #burger-menu span:nth-child(2) {
    top: 25px; }
  #burger-menu span:nth-child(3) {
    top: 30px; }
  #burger-menu.open span:nth-child(1) {
    grid-column: 1 \ -1;
    grid-row: 1 \ -1;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  #burger-menu.open span:nth-child(2) {
    display: none; }
  #burger-menu.open span:nth-child(3) {
    grid-column: 1 \ -1;
    grid-row: 1 \ -1;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }

@media screen and (max-width: 960px) {
  .header .container {
    align-items: center;
    padding: 1rem; }
  .header__logo {
    flex: 2 1 20%; }
  .header__bar {
    flex: 1 1 40%;
    grid-auto-rows: auto;
    align-items: center; }
  .header__menu {
    display: none; }
  .header__block {
    flex: 0 0 10%; } }

@media screen and (max-width: 660px) {
  .header__block .phone {
    display: none; }
  .header__bar {
    display: none; } }

@media screen and (max-width: 490px) {
  .header .container {
    border: 0;
    padding: 1rem 0; }
    .header .container::after {
      display: none; }
  .header__logo {
    padding: 0; }
  .header__block .basket {
    display: none; } }

.menu {
  --menu-width: 290px;
  padding: 15px 0;
  background: #fff;
  z-index: 2;
  padding-bottom: 0; }
  .menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
  .menu .plus {
    display: none; }
  .menu__main {
    transition: all linear .35s; }
    .menu__main > a::after {
      transition: all linear .35s;
      bottom: 0;
      margin-top: 15px;
      display: block;
      height: 3px;
      width: 0%;
      content: "";
      background-color: #FEBD2C; }
    .menu__main:hover:not(.business):not(.active) > a {
      color: #FEBD2C; }
    .menu__main:hover:not(.business):not(.active) > a::after {
      opacity: 1;
      width: 100%; }
    .menu__main:hover .menu__second {
      visibility: visible;
      opacity: 1; }
    .menu__main.business {
      color: #1752B5;
      font-weight: 600; }
      .menu__main.business:hover {
        text-decoration: underline; }
  .menu__second, .menu__third {
    width: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    z-index: 2;
    background: white; }
  .menu__second {
    display: flex;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid #E6E6E6;
    padding-top: 30px;
    padding-left: 10px; }
    .menu__second .title {
      padding-right: 50px;
      min-width: 320px;
      width: 100%;
      display: flex;
      align-items: center;
      padding-bottom: 30px;
      cursor: pointer; }
      .menu__second .title i {
        transition: all ease-in 150ms;
        color: #FEBD2C;
        font-size: 22px;
        padding-right: 0;
        scale: 0;
        width: 0; }
      .menu__second .title > a {
        font-size: 16px;
        line-height: 30px;
        color: #292826;
        font-weight: 700; }
      @media screen and (min-width: 960px) {
        .menu__second .title:hover i {
          padding-right: 12px;
          scale: 1;
          width: auto; }
        .menu__second .title:hover > a {
          color: #FEBD2C; } }
    .menu__second:empty {
      display: none; }
  .menu__third {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    height: auto;
    grid-column-gap: 20px;
    background: #F5F5F5;
    right: 0;
    top: 0;
    padding: 20px;
    border-left: 5px solid #FEBD2C;
    width: calc(100% - 320px);
    height: auto;
    min-height: 100%; }
    .menu__third li {
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: #292826;
      cursor: pointer; }
      .menu__third li:hover {
        color: #FEBD2C; }
  .menu__second .title:hover {
    color: #FEBD2C; }
  .menu__second .title:hover .menu__third {
    opacity: 1;
    visibility: visible; }

@media screen and (max-width: 960px) {
  .menu {
    position: absolute;
    translate: -100%;
    transition: translate ease-in-out 300ms; }
    .menu.open {
      translate: 0;
      opacity: 1;
      visibility: visible; }
      .menu.open .plus {
        display: inline-block;
        vertical-align: sub;
        float: right;
        padding-top: 3px; }
    .menu__main {
      cursor: pointer;
      width: 100%; }
      .menu__main > a {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px; }
    .menu__main.active .menu__second {
      max-height: 100%;
      padding: 20px;
      transform: rotateX(0deg);
      opacity: 1; }
      .menu__main.active .menu__second > li {
        margin-bottom: 10px; }
    .menu__second {
      background: #F5F5F5;
      margin-top: 20px; }
      .menu__second .title {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
        display: block;
        width: 100%;
        padding: 0; }
        .menu__second .title > a {
          font-weight: 400;
          text-transform: uppercase; }
        .menu__second .title > i {
          display: none; }
    .menu__second > .title.active .menu__third {
      max-height: 100%;
      transform: rotateX(0deg);
      opacity: 1;
      padding-left: 20px; }
      .menu__second > .title.active .menu__third > li {
        margin-bottom: 10px; }
    .menu__list {
      grid-template-columns: 1fr;
      flex-direction: column;
      grid-row-gap: 20px;
      place-items: baseline; }
    .menu__second, .menu__third {
      position: static;
      max-height: 0;
      padding: 0;
      transition: max-width 0.3s ease-in-out, transform .3s ease-in-out, opacity .5s ease 0.3s;
      overflow: hidden;
      transition-delay: .1s;
      visibility: visible;
      display: block;
      transform-origin: top;
      width: 100%;
      transform: rotateX(90deg); }
    .menu__third {
      border-left: 0;
      margin-top: 20px; } }

.banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  isolation: isolate;
  min-height: 290px; }
  .banner .breadcrumbs {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    width: 100%;
    height: 100%; }
    .banner .breadcrumbs .divider {
      font-size: 18px;
      margin: 0 5px; }
    .banner .breadcrumbs__section {
      padding: 4px 8px;
      background: rgba(254, 189, 44, 0.1);
      border-radius: 4px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px; }
    .banner .breadcrumbs__list {
      color: #ffff;
      display: flex;
      align-items: center;
      padding-top: 24px; }
  .banner > .media {
    z-index: -1;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / -1; }
    .banner > .media img {
      object-fit: cover;
      height: 100%;
      filter: brightness(60%); }
  .banner__block {
    grid-row: 2 / span 2;
    grid-column: 1 / span 3;
    height: 100%;
    position: relative;
    background: rgba(253, 253, 253, 0.05);
    border: 5px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12.5px);
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding: 50px 60px 60px 40px;
    margin: 0 20px; }
  .banner__content {
    display: flex;
    grid-column-gap: 28px;
    grid-row-gap: 5px; }
    .banner__content > div {
      text-align: left;
      display: flex;
      flex-direction: column; }
      .banner__content > div > * {
        margin: 0; }
  .banner__link {
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: -30px;
    box-shadow: 0px 8px 13px rgba(252, 37, 70, 0.66), 0px 4px 0px #D61B37;
    text-transform: uppercase; }
  .banner__map {
    display: flex;
    align-items: center;
    padding: 16px;
    align-self: center;
    background: rgba(172, 172, 172, 0.35); }
    .banner__map i {
      display: block;
      font-size: 48px;
      color: white; }
  .banner__title {
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    color: #ffff;
    padding-right: 10%; }
  .banner__text {
    max-width: 600px;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF; }
  .banner .logo {
    align-self: center;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -60%;
    min-width: 300px; }
  @media screen and (max-width: 560px) {
    .banner {
      grid-template-rows: repeat(7, 1fr); }
      .banner .breadcrumbs {
        display: none; }
      .banner__block {
        grid-row: 2 / span 4;
        grid-column: 1 / span 3;
        padding: 20px 20px 70px; }
      .banner__title {
        font-size: 32px;
        line-height: 50px; }
      .banner__map {
        align-self: flex-start; }
      .banner__content {
        flex-direction: column;
        grid-row-gap: 20px; } }

@media screen and (max-width: 560px) {
  .section-work {
    margin-bottom: 50px; }
    .section-work h2 {
      margin-top: -10px;
      margin-bottom: 35px; } }

.location-blog {
  padding-bottom: 80px; }
  .location-blog__bg {
    padding-top: 80px;
    padding-bottom: 10%; }
  .location-blog__content > p {
    max-width: 315px; }
  @media screen and (max-width: 560px) {
    .location-blog__content {
      margin-bottom: 30px; }
      .location-blog__content > p {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px; } }
  .location-blog__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    place-items: center;
    align-self: flex-end;
    grid-gap: 30px;
    padding-bottom: 15px; }
    @media screen and (max-width: 640px) {
      .location-blog__gallery {
        grid-template-columns: repeat(2, 1fr);
        padding: 0px;
        grid-gap: 35px 0;
        align-self: stretch; } }
  .location-blog__img img {
    object-fit: cover;
    max-width: 100px !important;
    height: 50px; }

.locksmith-sections {
  position: relative;
  margin-top: -10%; }
  .locksmith-sections .container {
    padding: 0; }
  .locksmith-sections .context-frame.contact .btn-orange, .locksmith-sections .contact.two-locksmith .btn-orange {
    margin-top: 30px; }
  @media screen and (max-width: 560px) {
    .locksmith-sections {
      margin-top: 0; } }

.guarantee h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #292826;
  margin: 0;
  margin-bottom: 15px; }

.guarantee__list {
  border: 1px solid #E6E6E6;
  padding: 30px; }
  .guarantee__list > ul {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 30px; }
    .guarantee__list > ul li {
      padding-left: 5px;
      font-size: 14px;
      max-width: 300px;
      line-height: 2; }
    .guarantee__list > ul li::marker {
      content: "\2713";
      color: #FEBD2C; }
    @media screen and (max-width: 560px) {
      .guarantee__list > ul {
        display: block; }
        .guarantee__list > ul > li:nth-child(4n) {
          margin-bottom: 20px; } }

.services__item {
  border: 1px solid #1752B5;
  padding: 10px 15px;
  color: #1752B5;
  display: flex;
  align-items: center;
  grid-column-gap: 14px;
  text-decoration: none; }
  .services__item > i {
    transition: all ease-in 200ms; }
  .services__item:hover > i {
    scale: 1.5; }
  .services__item span {
    color: #444444; }
  .services__items {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px; }

@media screen and (max-width: 360px) {
  .services .container {
    padding: 0; } }

.search-code {
  position: relative;
  padding: 12px;
  text-align: center;
  width: 100%;
  align-items: center;
  background: #FFFFFF;
  display: flex;
  border: 1px solid #444444;
  justify-content: center;
  box-shadow: 0px 13px 15px rgba(0, 0, 0, 0.02);
  cursor: text; }
  .search-code > span {
    font-size: 16px;
    padding-right: 5px; }
  .search-code input {
    border: 0; }
    .search-code input:focus {
      outline: unset; }
      .search-code input:focus::-webkit-input-placeholder {
        color: transparent; }
    .search-code input::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #444444; }

.area__info {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  grid-row-gap: 30px; }
  .area__info h2 {
    margin-bottom: 0; }
  .area__info p {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    grid-column-gap: 30px;
    grid-column-gap: 30px;
    font-weight: 400;
    line-height: 1.5;
    color: #444444;
    margin: 0;
    max-width: 520px;
    font-size: 16px; }

.area__safe {
  border: 1px solid #E6E6E6;
  padding: 30px;
  text-align: center; }

.area__presentation {
  position: relative;
  margin-bottom: 30px; }
  .area__presentation img {
    object-fit: contain;
    max-height: 194px;
    width: 100%;
    object-position: center; }
  .area__presentation + form > .btn-blue {
    display: inline-block;
    margin-top: 30px; }

.area__question {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  white-space: nowrap;
  padding: 10px;
  translate: -50% -50%;
  background: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  border: 1px solid #292826;
  backdrop-filter: blur(12.5px); }

.area .btn-area {
  background-color: #FEBD2C;
  padding: 15px 20px;
  vertical-align: middle;
  color: #fff;
  margin-top: auto;
  align-self: flex-start;
  display: flex; }
  .area .btn-area::before {
    content: "\279C";
    color: currentColor;
    padding-right: 10px;
    display: block;
    transition: translate ease-in 200ms; }
  .area .btn-area:hover::before {
    translate: 5px; }

.area__related {
  margin-top: 30px; }

.reviews-slider {
  overflow: hidden; }
  @media screen and (min-width: 680px) {
    .reviews-slider {
      height: auto !important; } }

@media screen and (max-width: 680px) {
  .reviews .swiper-slide {
    height: auto !important; } }

.reviews__item {
  background: #F5F5F5;
  padding: 30px;
  display: block; }

.reviews__rating {
  --star-size: 1.5rem;
  --star-color: white;
  --star-background: #FEBD2C;
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1; }
  .reviews__rating::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.reviews__author {
  margin-top: 40px;
  font-weight: 600; }

.reviews__nav {
  display: flex;
  justify-content: flex-end;
  grid-column-gap: 15px;
  margin-top: 30px; }
  .reviews__nav .reviews-button-prev, .reviews__nav .reviews-button-next {
    cursor: pointer;
    border: 1px solid #FEBD2C;
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
    color: #FEBD2C;
    font-size: 20px; }
  @media screen and (max-width: 680px) {
    .reviews__nav {
      position: absolute;
      right: 20px; } }

@media screen and (max-width: 640px) {
  .reviews {
    padding-bottom: 80px; } }

.post__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 20px; }

.post .title-nav {
  margin-bottom: 35px; }
  .post .title-nav h2 {
    margin: 0; }

.post__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-row-gap: 20px;
  justify-content: space-between; }

.post__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #292826; }
  .post__title + * {
    padding-right: 30px; }

.post__header {
  position: relative;
  background: linear-gradient(45deg, transparent 9%, #FEBD2C 10%, #FEBD2C 10%, #FEBD2C 31%, transparent 30%);
  overflow: hidden;
  transition: all ease 500ms; }
  .post__header > img {
    display: block;
    z-index: -1;
    width: 100%;
    position: relative;
    object-fit: cover;
    transition: scale ease .2s; }
  .post__header::before {
    content: "";
    position: absolute;
    display: block;
    background: rgba(254, 189, 44, 0.35);
    background-blend-mode: multiply;
    backdrop-filter: blur(3px);
    transform: rotate(45deg) translateY(-50%);
    width: 100%;
    rotate: 0deg;
    height: 60%;
    left: -15%;
    top: 50%; }
  .post__header:hover img {
    scale: 1.5; }
  .post__header:hover::before {
    width: 0%; }

.post__publication {
  display: flex;
  flex-direction: column;
  background: rgba(68, 68, 68, 0.25);
  backdrop-filter: blur(8px);
  padding: 5px 15px;
  position: absolute;
  z-index: 5;
  top: 8px;
  right: 8px;
  grid-gap: 10px; }
  .post__publication span {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #F5F5F5; }
  .post__publication .number {
    font-size: 24px; }

.post__decription {
  font-size: 16px;
  line-height: 30px;
  color: #444444; }

.emergency-section {
  background-image: url("./../images/emergency.png");
  background-color: #1752B5;
  padding: 75px 0 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 85% bottom;
  background-attachment: local;
  margin-bottom: 80px;
  color: #fff; }
  @media screen and (max-width: 960px) {
    .emergency-section {
      background-image: none; } }
  .emergency-section h2 {
    color: inherit; }
  .emergency-section__text {
    margin: 30px 0;
    font-size: 24px;
    line-height: 36px;
    max-width: 530px;
    color: #fff; }
  .emergency-section .btn-contact {
    color: #FEBD2C;
    border: 1px solid #FEBD2C;
    background: none; }
  .emergency-section .buttons-group {
    display: flex;
    grid-column-gap: 30px;
    margin-top: 20px; }
    @media screen and (max-width: 560px) {
      .emergency-section .buttons-group {
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
        grid-row-gap: 20px; } }

.work-list {
  display: flex;
  overflow: hidden;
  flex-direction: column; }
  .work-list__item {
    width: auto; }
    .work-list__item:hover img {
      filter: sepia(30%) hue-rotate(190deg) saturate(500%); }
    .work-list__item img {
      max-width: 130px;
      aspect-ratio: 2 / 1;
      transition: filter linear 200ms;
      margin: 0 auto;
      display: block; }
    @media screen and (min-width: 640px) {
      .work-list__item {
        flex: 1;
        padding-block: 15px; }
        .work-list__item:not(:last-child) {
          border-right: 1px solid #E6E6E6; } }
  .work-list__pagination {
    position: relative;
    display: none;
    justify-content: center;
    height: auto;
    margin-top: 90px; }
    .work-list__pagination .swiper-pagination-bullet {
      width: 30px;
      height: 3px;
      background: #E6E6E6;
      border-radius: 1px;
      filter: brightness(0.5); }
    .work-list__pagination .swiper-pagination-bullet-active {
      background: #FEBD2C;
      filter: none; }
    @media screen and (max-width: 640px) {
      .work-list__pagination {
        display: flex; } }

.reasons-section {
  padding-bottom: 70px; }
  .reasons-section .section-title-3 {
    margin-top: 0; }
  .reasons-section .context-frame, .reasons-section .two-locksmith {
    margin-bottom: 0; }
  .reasons-section__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #444444; }
  .reasons-section__guarantee {
    grid-template-columns: 1fr 1fr;
    padding-left: 0; }
    .reasons-section__guarantee .section-list {
      padding-left: 10px; }
    .reasons-section__guarantee li {
      padding-left: 10px;
      white-space: nowrap; }
    .reasons-section__guarantee li::marker {
      content: "\2713";
      color: #FEBD2C; }
    @media only screen and (max-width: 680px) {
      .reasons-section__guarantee {
        grid-template-columns: 1fr; } }
  .reasons-section__title {
    display: flex; }
    .reasons-section__title > img {
      width: 50px;
      object-fit: cover;
      height: 50px;
      margin-right: 5px; }
    .reasons-section__title > h2 {
      margin: 0;
      font-weight: 600;
      font-size: 32px;
      line-height: 50px;
      color: #fff; }
  .reasons-section__blue {
    background-color: #1752B5;
    padding: 30px 30px 40px;
    display: flex;
    flex-direction: column; }
    .reasons-section__blue > * {
      color: #fff; }
    .reasons-section__blue .btn-red {
      align-self: flex-start;
      margin-top: auto;
      font-weight: 400; }
  .reasons-section__large {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #fff; }
  @media screen and (max-width: 640px) {
    .reasons-section {
      padding-bottom: 0; } }

.footer > * {
  color: #fff; }

.footer__main {
  background: #444444; }

.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 23px 0;
  line-height: 30px; }
  .footer__flex .logo {
    align-self: center; }
  .footer__flex .logo img {
    max-width: 180px; }

.footer__adress p {
  margin: 0; }

.footer__sub {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #292826;
  color: #E6E6E6; }

.footer .social-icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  grid-column-gap: 20px; }
  .footer .social-icons li .facebook {
    background: #3B94EC; }
  .footer .social-icons li .twitter {
    background: #00BCE5; }
  .footer .social-icons li .dribbble {
    background: #FC2546; }
  .footer .social-icons li > a {
    font-size: 20px;
    padding: 2px 7px;
    display: flex; }

@media screen and (max-width: 815px) {
  .footer__flex {
    flex-direction: column;
    align-items: center;
    grid-row-gap: 30px;
    padding: 37px 0 60px;
    text-align: center; }
  .footer__adress + div > br {
    display: none; }
  .footer .social-icons {
    justify-content: center; } }

@media screen and (max-width: 460px) {
  .footer__sub {
    padding: 10px 20px;
    text-align: center; } }

.two-locksmith__text h3 {
  margin-top: 0; }

.two-locksmith__img {
  position: relative;
  display: flex;
  align-items: stretch;
  --from: -45deg; }
  .two-locksmith__img img {
    object-fit: cover;
    object-fit: cover;
    display: block; }
  .two-locksmith__img .locksmith-circle {
    position: absolute;
    right: 30px;
    top: 25px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
    z-index: 1;
    width: 120px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white; }
    .two-locksmith__img .locksmith-circle__text {
      position: relative;
      font-size: 27px;
      line-height: 27px;
      letter-spacing: 0.06em;
      font-family: 'Bebas Neue';
      color: white; }
      .two-locksmith__img .locksmith-circle__text::after {
        content: "";
        z-index: -1;
        position: absolute;
        top: -5px;
        right: 0;
        display: block;
        width: 44px;
        height: 100%;
        background-color: #444444;
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 21% 77%, 32% 46%, 24% 13%); }
    @media screen and (max-width: 460px) {
      .two-locksmith__img .locksmith-circle {
        width: 70px;
        height: 20px;
        padding: 20px; }
        .two-locksmith__img .locksmith-circle__text {
          line-height: 0.8; } }
  .two-locksmith__img.from-left {
    --from: 45deg; }
    .two-locksmith__img.from-left .locksmith-circle {
      position: absolute;
      left: 30px;
      top: auto !important;
      bottom: 25px;
      box-sizing: content-box;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-transform: uppercase;
      padding: 30px;
      z-index: 1;
      width: 120px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid #444; }
      .two-locksmith__img.from-left .locksmith-circle__text {
        position: relative;
        font-size: 27px;
        line-height: 27px;
        letter-spacing: 0.06em;
        font-family: 'Bebas Neue';
        color: #444; }
        .two-locksmith__img.from-left .locksmith-circle__text::after {
          content: "";
          z-index: -1;
          position: absolute;
          top: -5px;
          right: 0;
          display: block;
          width: 44px;
          height: 100%;
          background-color: #FEBD2C;
          clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 21% 77%, 32% 46%, 24% 13%); }
      @media screen and (max-width: 460px) {
        .two-locksmith__img.from-left .locksmith-circle {
          width: 70px;
          height: 20px;
          padding: 20px; }
          .two-locksmith__img.from-left .locksmith-circle__text {
            line-height: 0.8; } }
  .two-locksmith__img.two-stripe {
    overflow: hidden;
    position: relative; }
    .two-locksmith__img.two-stripe .locksmith-circle {
      position: absolute;
      right: 30px;
      top: 25px;
      box-sizing: content-box;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-transform: uppercase;
      padding: 30px;
      z-index: 1;
      width: 120px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid #444; }
      .two-locksmith__img.two-stripe .locksmith-circle__text {
        position: relative;
        font-size: 27px;
        line-height: 27px;
        letter-spacing: 0.06em;
        font-family: 'Bebas Neue';
        color: #444; }
        .two-locksmith__img.two-stripe .locksmith-circle__text::after {
          content: "";
          z-index: -1;
          position: absolute;
          top: -5px;
          right: 0;
          display: block;
          width: 44px;
          height: 100%;
          background-color: #FEBD2C;
          clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 21% 77%, 32% 46%, 24% 13%); }
      @media screen and (max-width: 460px) {
        .two-locksmith__img.two-stripe .locksmith-circle {
          width: 70px;
          height: 20px;
          padding: 20px; }
          .two-locksmith__img.two-stripe .locksmith-circle__text {
            line-height: 0.8; } }
    .two-locksmith__img.two-stripe::after {
      content: "";
      inset: 0;
      display: block;
      position: absolute;
      background: linear-gradient(var(--from), transparent 0, transparent 20%, #FEBD2C 20%, #FEBD2C 45%, rgba(254, 189, 44, 0.5) 45%, rgba(254, 189, 44, 0.5) 75%, transparent 75%); }
  .two-locksmith__img.three-stripe {
    overflow: hidden;
    position: relative; }
    .two-locksmith__img.three-stripe .locksmith-circle {
      position: absolute;
      right: 30px;
      top: 25px;
      box-sizing: content-box;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-transform: uppercase;
      padding: 30px;
      z-index: 1;
      width: 120px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid #444; }
      .two-locksmith__img.three-stripe .locksmith-circle__text {
        position: relative;
        font-size: 27px;
        line-height: 27px;
        letter-spacing: 0.06em;
        font-family: 'Bebas Neue';
        color: #444; }
        .two-locksmith__img.three-stripe .locksmith-circle__text::after {
          content: "";
          z-index: -1;
          position: absolute;
          top: -5px;
          right: 0;
          display: block;
          width: 44px;
          height: 100%;
          background-color: #FEBD2C;
          clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 21% 77%, 32% 46%, 24% 13%); }
      @media screen and (max-width: 460px) {
        .two-locksmith__img.three-stripe .locksmith-circle {
          width: 70px;
          height: 20px;
          padding: 20px; }
          .two-locksmith__img.three-stripe .locksmith-circle__text {
            line-height: 0.8; } }
    .two-locksmith__img.three-stripe::after {
      content: "";
      inset: 0;
      display: block;
      position: absolute;
      background: linear-gradient(var(--from), #FEBD2C 0, #FEBD2C 15%, #FEBD2C80 15%, #FEBD2C80 50%, rgba(254, 189, 44, 0.2) 50%, rgba(254, 189, 44, 0.2) 80%, transparent 30%); }
    .two-locksmith__img.three-stripe.from-left {
      overflow: hidden;
      position: relative; }
      .two-locksmith__img.three-stripe.from-left::after {
        content: "";
        inset: 0;
        display: block;
        position: absolute;
        background: linear-gradient(var(--from), #FEBD2C 0, #FEBD2C 15%, #FEBD2C80 15%, #FEBD2C80 45%, rgba(254, 189, 44, 0.2) 45%, rgba(254, 189, 44, 0.2) 65%, transparent 30%); }

.faq {
  --padding-left: 85px; }
  .faq .details-wrap {
    margin-bottom: 120px;
    padding-top: 10px; }
    .faq .details-wrap details {
      border: 1px solid #E6E6E6;
      margin-bottom: 20px; }
    .faq .details-wrap details[open] summary ~ * {
      animation: open 0.3s ease-in-out; }

@keyframes open {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .faq .details-wrap details summary::-webkit-details-marker {
      display: none; }
    .faq .details-wrap details summary:after {
      content: "▲";
      color: #FEBD2C;
      position: absolute;
      line-height: 0;
      font-size: 14px;
      right: 20px;
      top: 30px;
      transform-origin: center;
      transition: 200ms linear; }
    .faq .details-wrap details[open] summary:after {
      transform: rotate(60deg); }
    .faq .details-wrap details summary {
      outline: 0; }
    .faq .details-wrap details summary {
      display: flex;
      grid-column-gap: 20px;
      align-items: center;
      padding-right: 40px;
      padding-block: 10px;
      padding-left: var(--padding-left);
      width: 100%;
      position: relative;
      cursor: pointer;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      color: #292826;
      list-style: none; }
    .faq .details-wrap details p {
      margin: 20px 0;
      padding-left: var(--padding-left);
      line-height: 30px;
      padding-right: 40px; }
      @media screen and (max-width: 580px) {
        .faq .details-wrap details p {
          margin-top: 0;
          font-size: 16px; } }
  .faq .details__mark {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 0px #F4F4F4, 0px 10px 24px rgba(209, 209, 209, 0.66); }
    .faq .details__mark span {
      font-size: 34px;
      line-height: 1.5;
      vertical-align: text-top;
      padding: 15px 15px;
      color: #FEBD2C; }
  @media screen and (max-width: 580px) {
    .faq {
      --padding-left: 20px; }
      .faq .details-wrap {
        margin-inline: -20px; }
        .faq .details-wrap details summary {
          font-weight: 600;
          font-size: 16px;
          line-height: 30px;
          padding-right: 30%; }
        .faq .details-wrap details p {
          padding-right: 30%; }
      .faq .details__mark {
        display: none; } }
