.banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
    isolation: isolate;
    min-height: 290px;

    .breadcrumbs {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        width: 100%;
        height: 100%;

        .divider {
            font-size: 18px;
            margin: 0 5px;
        }

        &__section {
            padding: 4px 8px;
            background: rgba(254, 189, 44, 0.1);
            border-radius: 4px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }

        &__list {
            color: #ffff;
            display: flex;
            align-items: center;
            padding-top: 24px;
        }

    }

    >.media {
        z-index: -1;
        height: 100%;

        grid-column: 1 / -1;
        grid-row: 1 / -1;

        img {
            object-fit: cover;
            height: 100%;
            filter: brightness(60%);
        }
    }


    &__block {
        grid-row: 2 / span 2;
        grid-column: 1 / span 3;
        height: 100%;
        position: relative;
        background: rgba(253, 253, 253, 0.05);
        border: 5px solid rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(12.5px);
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
        padding: 50px 60px 60px 40px;
        margin: 0 20px;

    }

    &__content {
        display: flex;
        grid-column-gap: 28px;
        grid-row-gap: 5px;

        >div {
            text-align: left;
            display: flex;
            flex-direction: column;

            &>* {
                margin: 0;
            }
        }
    }

    &__link {
        position: absolute;
        left: 50%;
        translate: -50%;
        bottom: -30px;
        box-shadow: 0px 8px 13px rgba(252, 37, 70, 0.66), 0px 4px 0px #D61B37;
        text-transform: uppercase;

        &:focus {}
    }

    &__map {
        display: flex;
        align-items: center;
        padding: 16px;
        align-self: center;
        background: rgba(172, 172, 172, 0.35);

        i {
            display: block;
            font-size: 48px;
            color: white;

        }
    }

    &__title {
        font-weight: 600;
        font-size: 45px;
        line-height: 45px;
        color: #ffff;
        padding-right: 10%;
    }

    &__text {
        max-width: 600px;
        font-size: 16px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .logo {
        align-self: center;
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% -60%;
        min-width: 300px;
    }


    @media screen and(max-width:560px) {
        grid-template-rows: repeat(7, 1fr);

        .breadcrumbs {
            display: none;
        }

        &__block {
            grid-row: 2 / span 4;
            grid-column: 1 / span 3;
            padding: 20px 20px 70px;
        }

        &__title {
            font-size: 32px;
            line-height: 50px;
        }

        &__map {
            align-self: flex-start;
        }

        &__content {
            flex-direction: column;
            grid-row-gap: 20px;
        }
    }
}

.section-locksmit {}

.section-work {
    @media screen and (max-width:560px) {
        margin-bottom: 50px;

        h2 {
            margin-top: -10px;
            margin-bottom: 35px;
        }
    }

}

.location-blog {

    padding-bottom: 80px;

    &__bg {
        @extend .bg-locks;
        padding-top: 80px;
        padding-bottom: 10%;

    }

    @extend .two-column;

    &__content {
        >p {
            max-width: 315px;
        }

        @media screen and(max-width:560px) {
            margin-bottom: 30px;

            >p {
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;

            }
        }
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;
        place-items: center;
        align-self: flex-end;
        grid-gap: 30px;
        padding-bottom: 15px;

        @media screen and (max-width:640px) {
            grid-template-columns: repeat(2, 1fr);
            padding: 0px;
            grid-gap: 35px 0;
            align-self: stretch;
        }
    }

    &__img {
        img {
            object-fit: cover;
            max-width: 100px !important;
            height: 50px;
        }
    }
}

.locksmith-sections {
    position: relative;
    margin-top: -10%;

    .container {
        padding: 0;
    }

    .context-frame {

        // margin-bottom: 30px;
        // background-color: #ffff;
        &.contact {
            .btn-orange {
                margin-top: 30px;
            }
        }
    }

    @media screen and(max-width:560px) {
        margin-top: 0;

    }
}

.guarantee {
    &__wrap {
        @extend .two-column;
    }

    h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #292826;
        margin: 0;
        margin-bottom: 15px;
    }

    &__list {
        border: 1px solid #E6E6E6;
        padding: 30px;

        >ul {
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 30px;

            li {
                padding-left: 5px;
                font-size: 14px;
                max-width: 300px;
                line-height: 2;
            }

            li::marker {
                content: "\2713";
                color: $yellow;
            }

            @media screen and(max-width:560px) {
                display: block;

                >li:nth-child(4n) {
                    margin-bottom: 20px;
                }
            }
        }
    }



}

.services {
    &__item {
        border: 1px solid #1752B5;
        padding: 10px 15px;
        color: $blue;
        display: flex;
        align-items: center;
        grid-column-gap: 14px;
        text-decoration: none;

        >i {
            transition: all ease-in 200ms;
        }

        &:hover {
            >i {
                scale: 1.5;
            }
        }

        span {
            color: #444444;
        }

        &s {
            display: flex;
            flex-wrap: wrap;
            grid-gap: 30px;
        }
    }

    @media screen and(max-width:360px) {
        .container {
            padding: 0;
        }
    }
}

.search-code {
    position: relative;
    padding: 12px;
    text-align: center;
    width: 100%;
    align-items: center;
    background: #FFFFFF;
    display: flex;
    border: 1px solid #444444;
    justify-content: center;
    box-shadow: 0px 13px 15px rgba(0, 0, 0, 0.02);

    cursor: text;

    >span {
        font-size: 16px;
        padding-right: 5px;
    }

    input {
        border: 0;

        &:focus {
            outline: unset;

            &::-webkit-input-placeholder {
                color: transparent;
            }
        }

        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;

            color: #444444;
        }
    }

}

.area {

    &__wrap {
        @extend .two-column;
    }

    &__info {
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        grid-row-gap: 30px;

        h2 {
            margin-bottom: 0;
        }

        p {
            padding-right: 40px;
            display: flex;
            flex-direction: column;
            grid-column-gap: 30px;
            grid-column-gap: 30px;
            font-weight: 400;
            line-height: 1.5;
            color: #444444;
            margin: 0;
            max-width: 520px;
            font-size: 16px;
        }
    }

    &__safe {
        border: 1px solid #E6E6E6;
        padding: 30px;
        text-align: center;
    }

    &__presentation {
        position: relative;
        margin-bottom: 30px;


        img {
            object-fit: contain;
            max-height: 194px;
            width: 100%;
            object-position: center;
        }

        +form>.btn-blue {
            display: inline-block;
            margin-top: 30px;
        }
    }

    &__question {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        white-space: nowrap;
        padding: 10px;
        translate: -50% -50%;
        background: rgba(255, 255, 255, 0.2);
        text-transform: uppercase;
        border: 1px solid #292826;
        backdrop-filter: blur(12.5px)
    }

    .btn-area {
        background-color: $yellow;
        padding: 15px 20px;
        vertical-align: middle;
        color: #fff;
        margin-top: auto;
        align-self: flex-start;
        display: flex;

        &::before {
            content: "\279C";
            color: currentColor;
            padding-right: 10px;
            display: block;
            transition: translate ease-in 200ms;
        }

        &:hover {
            &::before {
                translate: 5px;
            }
        }
    }

    &__related {
        margin-top: 30px;

    }

}

.reviews {

    &-slider {
        overflow: hidden;

        @media screen and(min-width:680px) {
            height: auto !important;

        }

    }

    .swiper-slide {
        @media screen and(max-width:680px) {
            height: auto !important;
        }
    }

    &__item {

        background: #F5F5F5;
        padding: 30px;
        display: block;
    }

    &__rating {
        --star-size: 1.5rem;
        --star-color: white;
        --star-background: #FEBD2C;
        --percent: calc(var(--rating) / 5 * 100%);

        display: inline-block;
        font-size: var(--star-size);
        font-family: Times; // make sure ★ appears correctly
        line-height: 1;

        &::before {
            content: '★★★★★';
            letter-spacing: 3px;
            background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__author {
        margin-top: 40px;
        font-weight: 600;
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
        grid-column-gap: 15px;
        margin-top: 30px;

        .reviews-button {

            &-prev,
            &-next {
                cursor: pointer;
                border: 1px solid #FEBD2C;
                width: 48px;
                height: 48px;
                display: grid;
                place-content: center;
                color: #FEBD2C;
                font-size: 20px;
            }
        }

        @media screen and(max-width:680px) {
            position: absolute;
            right: 20px;
        }
    }

    @media screen and (max-width:640px) {
        padding-bottom: 80px;
    }

}

.post {
    &__wrap {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 20px;
    }

    .title-nav {
        margin-bottom: 35px;

        h2 {
            margin: 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-row-gap: 20px;
        justify-content: space-between;
    }

    &__title {
        margin: 0;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #292826;

        +* {
            padding-right: 30px;
        }

    }

    &__header {
        position: relative;
        background: linear-gradient(45deg, transparent 9%, #FEBD2C 10%, #FEBD2C 10%, #FEBD2C 31%, transparent 30%);
        overflow: hidden;
        transition: all ease 500ms;

        >img {
            display: block;
            z-index: -1;
            width: 100%;
            position: relative;
            object-fit: cover;
            transition: scale ease .2s;
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            background: rgba(254, 189, 44, 0.35);
            background-blend-mode: multiply;
            backdrop-filter: blur(3px);
            transform: rotate(45deg) translateY(-50%);
            width: 100%;
            rotate: 0deg;
            height: 60%;
            left: -15%;
            top: 50%;
        }

        &:hover {
            img {
                scale: 1.5;
            }

            &::before {
                width: 0%;
            }
        }
    }

    &__publication {
        display: flex;
        flex-direction: column;
        background: rgba(68, 68, 68, 0.25);
        backdrop-filter: blur(8px);
        padding: 5px 15px;
        position: absolute;
        z-index: 5;
        top: 8px;
        right: 8px;
        grid-gap: 10px;

        span {
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            color: #F5F5F5;
        }

        .number {
            font-size: 24px;
        }
    }

    &__decription {
        font-size: 16px;
        line-height: 30px;
        color: #444444
    }

}

.emergency-section {
    background-image: url('./../images/emergency.png');
    background-color: #1752B5;
    padding: 75px 0 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 85% bottom;
    background-attachment: local;
    margin-bottom: 80px;
    color: #fff;

    @media screen and (max-width:960px) {
        background-image: none;
    }

    h2 {
        color: inherit;
    }

    &__text {
        margin: 30px 0;
        font-size: 24px;
        line-height: 36px;
        max-width: 530px;
        color: #fff;
    }

    .btn-contact {
        @extend .btn-with-icon;
        color: $yellow;
        border: 1px solid $yellow;
        background: none;
    }

    .buttons-group {
        display: flex;
        grid-column-gap: 30px;
        margin-top: 20px;

        @media screen and(max-width:560px) {
            margin-top: 40px;
            flex-direction: column;
            align-items: center;
            grid-row-gap: 20px;
        }
    }
}

.work-list {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    &__item {
        width: auto;

        &:hover {
            img {
                filter: sepia(30%) hue-rotate(190deg) saturate(500%);
            }
        }

        img {
            max-width: 130px;
            // height: 30px;
            aspect-ratio: 2 / 1;
            transition: filter linear 200ms;
            margin: 0 auto;
            display: block;
        }

        @media screen and(min-width:640px) {
            flex: 1;
            padding-block: 15px;

            &:not(:last-child) {
                border-right: 1px solid #E6E6E6;
            }
        }
    }

    &__pagination {
        position: relative;
        display: none;
        justify-content: center;
        height: auto;
        margin-top: 90px;

        .swiper-pagination-bullet {
            width: 30px;
            height: 3px;
            background: #E6E6E6;
            border-radius: 1px;
            filter: brightness(0.5);
        }

        .swiper-pagination-bullet-active {
            background: $yellow;
            filter: none;
        }

        @media screen and(max-width:640px) {
            display: flex;
        }
    }
}

.reasons-section {

    padding-bottom: 70px;

    .section-title-3 {
        margin-top: 0;
    }

    .context-frame {
        margin-bottom: 0;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #444444
    }

    .container {
        @extend .two-column;
    }

    &__guarantee {
        grid-template-columns: 1fr 1fr;
        padding-left: 0;

        .section-list {
            padding-left: 10px;
        }

        li {
            padding-left: 10px;
            white-space: nowrap;
        }

        li::marker {
            content: "\2713";
            color: $yellow;
        }

        @media only screen and (max-width:680px) {
            grid-template-columns: 1fr;
        }
    }

    &__title {
        display: flex;

        >img {
            width: 50px;
            object-fit: cover;
            height: 50px;
            margin-right: 5px;
        }

        >h2 {
            margin: 0;
            font-weight: 600;
            font-size: 32px;
            line-height: 50px;
            color: #fff;
        }
    }

    &__blue {
        background-color: $blue;
        padding: 30px 30px 40px;
        display: flex;
        flex-direction: column;

        >* {
            color: #fff;
        }

        .btn-red {
            align-self: flex-start;
            margin-top: auto;
            font-weight: 400;
        }
    }

    &__large {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #fff;
    }

    @media screen and(max-width:640px) {
        padding-bottom: 0;
    }

}